<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultXmlCmdFile" value="CmdFile001.xml"/>
		<add key="LogFileRetentionInDays" value="5"/>
		<add key="CommandOutputLogFile" value="exeCommandLog.log"/>
		<add key="ApplicationLogDirectory" value=".\Log"/>
	</appSettings>
</configuration>