<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultXmlCmdFile" value="LibLoadCmds.xml"/>
		<add key="LogFileRetentionInDays" value="5"/>
		<add key="CommandOutputBaseLogFileName" value="execommandLog"/>
		<add key="CommandOutputLogDir" value="./cmdlogs"/>
		<add key="ApplicationLogDirectory" value=".\Log"/>
		<add key="DefaultConsoleCommandExecutor" value="cmd.exe"/>
		<add key="ConsoleCommandExeArguments" value="/c"/>
		<add key="NumberOfMinutesToWaitForExecution" value="5"/>
	</appSettings>
</configuration>