<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultXmlCmdFile" value="CmdrXCmds.xml"/>
		<add key="ApplicationLogFileNameExtension" value="CmdrX.log"/>
		<add key="LogFileRetentionInDays" value="5"/>
		<add key="DefaultCommandOutputLogFilePathName" value=".\installLog\install.log"/>
		<add key="DefaultConsoleCommandExecutor" value="cmd.exe"/>
		<add key="DefaultConsoleCommandExeArguments" value="/c"/>
		<add key="CommandMinTimeOutInMinutes" value="0.5"/>
		<add key="CommandMaxTimeOutInMinutes" value="60.0"/>
		<add key="CommandDefaultTimeOutInMinutes" value="15.0"/>
	</appSettings>
</configuration>